<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Voxbento Interpreter Booth{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/interpreter.css') }}?v=3" />
    {% block head %}{% endblock %}
  </head>
  <body>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
